.img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  /* width: 100%; */
  height: auto;
  max-height: 38vh;
  min-height: 300px;
  vertical-align: middle;
}

.imgWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.circular {
  border-radius: 50%;
  min-height: unset;
}

.delegateViewCircular {
  border-radius: 50%;
  margin-top: 13px;
}

.circleWithBorder {
  border-radius: 50%;
  border: 2px solid #ffffff;
  min-height: unset;
}

.rounded {
  border-radius: 15px;
}

.circularNounWrapper {
  width: 42px;
  height: 42px;
}

.delegateViewCircularNounWrapper {
  width: 42px;
  height: 42px;
  margin-left: 12px;
}

@media (max-width: 1200px) {
  .circularNounWrapper {
    height: 70%;
    width: 70%;
  }
}
