.date {
  font-family: 'DM Sans';
  font-weight: normal;
  font-size: 20px;
  color: var(--brand-white) !important;
  line-height: 27px;
  margin-top: 0.22rem;
}

.wrapper {
  margin-right: 0;
  width: auto;
}
