.woodWrapper {
  background-image: url(../../assets/auction-bg@1x_01.png);
  background-repeat: repeat;
}
.wrapper {
  padding-right: var(--bs-gutter-x,1rem);
  padding-left: var(--bs-gutter-x,1rem);
}
.westernSide .bidButtonSide:hover,
.westernSide .bidButtonSide:active,
.westernSide .bidButtonSide:focus .bidButtonSide:disabled {
  background-color: var(--brand-color-blue) !important;
}

.easternSide .bidButtonSide,
.easternSide .bidButtonSide:hover,
.easternSide .bidButtonSide:active,
.easternSide .bidButtonSide:focus .bidButtonSide:disabled {
  background-color: var(--brand-color-red) !important;
}
