.proposalStatus {
  font-family: 'DM Sans';
  font-weight: 400;
  color: white;
  border-radius: 48px;
  font-size: 14px;
  border: 0rem;
  padding:8px 16px;
}

.primary {
  background-color: var(--brand-color-green);
}

.success {
  background-color: var(--brand-color-blue);
}

.danger {
  background-color: var(--brand-color-red);
}

.secondary {
  background-color: var(--brand-gray-light-text);
}

.votePageProposalStatus {
  margin-top: 0.8rem;
}
