
.section > span {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'DM Sans';
}

.section h4 {
  font-family: 'DM Sans';
  font-weight: bold;
  font-size: 1.25rem;
}

.section h2 {
  font-family: 'DM Sans';
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 0px !important;
}

.wrapper {
  padding-left: 2.5rem;
  padding-right: 0rem;
  cursor: pointer;
  width: max-content;
}

.timerWrapper {
  display: flex;
  margin-top: 1px;
}

.timerSection span {
  font-family: 'DM Sans';
  font-weight: bold;
  font-size: 32px;
}

.timerSection {
  margin-right: 0.5rem;
}

.timerSectionFinal {
  margin-right: 0rem;
}

.timerSectionFinal span {
  font-family: 'DM Sans';
  font-weight: bold;
  font-size: 32px;
}

.leftCol {
  margin-top: 1px;
}

@media (max-width: 992px) {
  .section {
    justify-content: space-between;
  }

  .wrapper {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .leftCol {
    margin-top: 0px;
  }

  .title {
    font-size: 18px;
    margin-top: 1.4rem;
  }

  .timeLeft {
    padding-right: 0.5rem;
  }
}
