.wrapper {
  display: inline-block;
}

.wrapper h1 {
  font-family: 'Londrina Solid';
  font-size: 68px;
  margin-bottom: 20px;
  margin-top: 0;
}

.wrapper h2 {
  font-family: 'Londrina Solid';
  font-size: 1.4rem;
  color: var(--brand-warm-light-text);
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .wrapper h1 {
    padding-top: 0;
    font-size: 56px;
  }
  .wrapper h2 {
    font-size: 1.16rem;
    margin-top: 16px;
  }
}
